@font-face {
    font-family: "Bullpen Heavy";
    src: url("../fonts/Bullpen Heavy.otf") format("opentype");
}

body {
    user-select: none;
}

h1 {
    position: absolute;
    top: -13vh;
    width: 100vw;
    text-align: center;
    color: var(--Fascist-Orange);
    font: 15vmin "Eskapade Fraktur Black";
    outline: none;
}

p {
    position: absolute;
    top: 15vh;
    width: 100vw;
    text-align: center;
    color: white;
    font: 5vmin "Bullpen Heavy";
}

div {
    position: absolute;
    
    width: 20vmin;
    height: 6vmin;
    top: calc(50% - 3vmin);
    left: calc(50% - 10vmin);
    
    cursor: pointer;
    text-align: center;
    line-height: 0;
    color: black;
    font: 5vmin "Bullpen Heavy";
    background: var(--Liberal-Blue);
}