
#GameId {
    position: absolute;
    color: white;
    
    top: -1vh;
    right: 1vh;
    font: 2vh "Rubik";
}

#GameNameWrapper {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

#GameNameWrapper > #GameName {
    position: absolute;
    width: 28vmax;
    height: 8vmin;
    
    border-radius: 2vmax;
    user-select: none;
    background: black;
    border: none;
    outline: none;
    color: white;
    padding: 1vmin 1vmax;
    text-align: center;
    resize: none;
    font: 3.5vmin "Rubik";
}

#GameName::placeholder {
    text-align: left;
    color: white;
    font: 3.5vmin "Eskapade Fraktur Black";
}

.ContinueButton {
    --Height: calc(18vmin / var(--Golden-Ratio));
    width: 18vmin;
    height: var(--Height);
    border-radius: 2vmin;
    
    font: 4vmin "Eskapade Fraktur Black";
    text-align: center;
    line-height: 10vmin;
    margin-top: 24vh;
    
    background: var(--Liberal-Blue);
}
