body {
    user-select: none;
}

h3:nth-of-type(1) {
    position: absolute;
    color: white;
    font: 6vmin "Rubik";
    width: 10vw;
    text-align: center;
    left: calc(50% - 5vw);
    top: 12vh
}

#NewGame {
    position: absolute;
    width: 12vmax;
    left: 70%;
    top: 19%;

    border-radius: 0.5vmax;
    background: dimgrey;
    color: white;
    font: 2.5vmax "Eskapade Fraktur Black";
    text-align: center;
    text-justify: distribute;
    line-height: 100%;
    cursor: pointer;

    animation: none;
    transition: all 150ms ease-in-out;
}

#NewGame:hover {
    animation: NewGameHover 2.5s linear infinite;
    scale: 1.2;
}

@keyframes NewGameHover {
    from, to {
        background: var(--Liberal-Blue);
        border-color: var(--Liberal-Blue);
    }
    50% {
        background: var(--Fascist-Orange);
        border-color: var(--Fascist-Orange);
    }
}


#GamesWrapper {
    position: absolute;
    height: 70vh;
    width: 70vw;
    left: calc(50% - 35vw);
    top: 25vh;
    border-radius: 2vmax;
    
    display: flex;
    flex-flow: column nowrap;
    
    background: rgba(0, 0, 0, 0.5)
}

#GamesWrapper > .TopBar {
    height: 6.5%;
    width: 100%;
    border-bottom: solid 2px dimgray;
    background: rgba(42, 42, 50, 0.5);
    color: white;
    text-align: center;
    font-family: "Rubik", sans-serif;
    
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
}

#GamesWrapper > .Game {
    height: 8.5%;
    width: 100%;
    border-bottom: solid 1px dimgray;
    background: rgba(42, 42, 50, 0.5);
    text-align: center;
    font-family: "Rubik", sans-serif;
    user-select: revert;

    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
}

.Game > .GameName {
    color: white;
    grid-column: 1;
}
.Game > .GameId {
    color: white;
    grid-column: 2;
}
.Game > .GamePlayers {
    color: white;
    grid-column: 3;
}

#GamesWrapper > .Footer {
    height: 8.5%;
    width: 100%;
    margin-top: auto;
    background: rgba(99, 129, 165, 35%);
    border-radius: 0 0 2vw 2vw;
}